language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - nightly
matrix:
  include:
    - python: 3.7
      dist: xenial  # Required for Python 3.7
      sudo: true    # travis-ci/travis-ci#9069
  allow_failures:
    - python: nightly
install:
  - pip install -U pip setuptools wheel
  - pip install 'tox>=3.2.1,<4.0.0' 'tox-travis>=0.10,<1.0'
script:
  - tox
notifications:
  slack:
    secure: XRqLXyCNKVVqPE+2Ng/PP/6VwFzWy0kxBDzGhJcMGEEf0QSCVghB4RcgkdMYkrHw3C2mX692iuZQwxSEvv8nB9TVkClq3+7rUab8E+MqaX8HueFVGaweRvfA2noHYhH893yGi2pV/exno/9JrF737s734YnyOZ6vFg8xwRLqdlq+F4PoPw4IJ6ulaGs9RzWiMMo6J5osipdtmmimEQ/cHPRG5lpsPI4Q8Y/3LK+vFrVhUkISF8mzE4SJqaiGjp19F4VyKxW/bOH6/FsxRRi5/fB4MzbkMBxXvNy+GXJ3JtHExtA/gXYdnPrgk7zEJiSun3QOT+IU/e6WA/74sRZgbBY2c71NtYy3m5IXr2MIg/atz//GufISVKSy0KpgyKVoT2Oy2IvSc0j72OslMz36pSAS/Fx/b7BQwKXHDHldR2Usm8IMjt8JEs9bvHtuWMfeJf48m4j4PpRWyaZBOwe+N/t2P15jkFWVvFVXtqTxplPhg/BOHaKWt4UjXgQXIwnsYimUnsrbHGEvO5duHkPG4LKm+19q2k+HK+wX4/QH/Ml+1JECKabVbdIdFV4TIBwuCDafvwGi1n0T6qKtYaL5O6nhxa5e5OJNehhQbWMctivQX+bS4riwegWSNLydzqnQN68JDQk3aV2+I8eBmQYqovQqrbBf+Wgs5RfemH+R9dU=
