name: Packaging

on: [push]

jobs:
  build_sdist:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: python -m pip install --upgrade build
    - name: Create packages
      run: python -m build -s
    - uses: actions/upload-artifact@v3
      with:
        name: wsgi_lineprof_dist
        path: dist

  build_wheel:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-12]
        arch: [auto]
        include:
          - os: ubuntu-20.04
            arch: aarch64
          - os: windows-2022
            arch: ARM64
          - os: macos-11
            arch: arm64

    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      if: runner.os == 'Linux' && matrix.arch == 'aarch64'
      uses: docker/setup-qemu-action@v2
      with:
        platforms: arm64
    - name: Build wheels
      uses: pypa/cibuildwheel@v2.15.0
      env:
        CIBW_ARCHS: ${{ matrix.arch }}
    - uses: actions/upload-artifact@v3
      with:
        name: wsgi_lineprof_dist
        path: ./wheelhouse/*.whl

  build:
    needs:
      - build_sdist
      - build_wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: wsgi_lineprof_dist
        path: dist
    - name: Show result
      run: ls -l dist
