name: Tests

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04, macos-12, windows-2022]
        python-version: [3.8, 3.9, '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install tox tox-gh-actions
    - name: Test with tox
      run: tox
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        # This is for avoiding the error like this:
        # pyconfig.h(68): fatal error C1083: Cannot open include file: 'io.h': No such file or directory
        INCLUDE: c:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/SDK/ScopeCppSDK/SDK/include/ucrt
    - uses: codecov/codecov-action@v3
